.th {
  border: 2px solid black;
  background: lightblue;
  border-radius: 0.2rem;
  padding: 0.5rem;
  user-select: none;
}

.th:hover {
  background: steelblue;
  cursor: pointer;
}

.table {
  width: 100%;
}
