.SudokuButton {
  background-color: #4caf50; /* Green */
  border: 1px solid black;
  border-radius: 0.5rem;
  color: white;
  padding: 15px 32px;
  margin-right: 0.4rem;
  margin-top: 0.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
